.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 70px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
}

.nav-connect {
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 40px;
    background: linear-gradient(267deg, #FFC107 0.36%, #b923e1 102%);
    cursor: pointer;
    /* margin-left: 90px; Adjust this value as needed */
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
   display: flex;
   flex-direction: column; 
   gap: 10px;
   cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}

.anchor-link{
    color: white;
    text-decoration: none;
}
.navmob-close{
    display: none;
}
@media   (max-width: 768px) {
    .navbar {
        margin: 20px 50px;
    }
    .nav-connect {
        display: none;
    }
    .toggle-icon{
        display: block;
        position: fixed;
        right: 30px;
    }
    .navmob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 300px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 20px;
        background: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
        /* margin-left: 30px; */
    }
}